.App {
  text-align: center;
}

.follower-card{
 width: 100px;
 margin: 16px 32px;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.followers{
  display: flex;
  flex-flow: row wrap;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
}

